body{
    background-image: repeating-linear-gradient(rgba(207, 48, 255, 1), rgba(119, 167, 159, 1),rgba(207, 48, 255, 1)), url("../app/src/imgs/my_bg.svg");
    background-attachment: fixed, scroll;
    background-blend-mode: screen, normal;
    background-color: white;
    height: 100vh;
}
.darkmode{
    background-image: repeating-linear-gradient(rgba(207, 48, 255, 1), rgba(119, 167, 159, 1),rgba(207, 48, 255, 1)), url("../app/src/imgs/darkmode_bg.svg");
    background-blend-mode: multiply, normal;
    background-color: black;
}
article{
    height: 100vh;
    
}
